.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section{
    width: 150px;
    background-color: blanchedalmond;
}

.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 40px;
    max-width: 500px;
    background-color: rgb(205, 235, 255);
}

.right-section{
    width: 200px;
    background-color: rgb(246, 176, 216);
}