.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(224, 224, 224);

}

.left-section{
    width: 150px;
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 25px;
    margin-left: 24PX;
    margin-right: 24px ;
}

.youtube-logo{
    height: 20px;
}

.middle-section{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70px;
    margin-right: 40px;
    max-width: 500px;
}

.Search-bar{
    flex: 1;
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid rgb(208, 207, 207);
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    width: 0;

}
.Search-bar::placeholder{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.search-btn{
    height: 39px;
    width: 66px;
    margin-left: 0px;
    margin-right: 8px;
    background-color: rgb(240, 238, 238);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 0px;
    border-color: rgb(208, 207, 207);
    border-style: solid;

}

.search-icon{
    height: 25px;
    margin-top: 4px;
}

.voice-btn{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgb(242, 241, 241);
}

.voice-icon{
    height: 24px;
    margin-top: 4px;
}

.right-section{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.icon-upload{
    height: 26px;
}
.yt-apps{
    height: 26px;
}
.noti-icon{
    height: 26px;
}
.my-channel-img{
    width: 36px;
    border-radius: 50%;
}
